.dont-miss-list {
	margin-bottom: 30px;
}
.project_dont_miss {
	width: 309px;
	margin: 0 auto;
}
.dont-miss-list .min_age {
	position: absolute;
	top: 5px;
	right: 10px;
}
.dont-miss-list.visible-xs {
	width: 309px;
	margin: 0 auto;
}
.dont-miss-list .header {
	position: relative;
}
.dont-miss-list .icon {
	position: relative;
	left: 0px;
	float: left;
	top: 0px;
	margin-right: 12px
}
.dont-miss-list .icon i.television_2 {
  background-position: -79px 0;
  height: 31px;
  width: 24px;
  left: 12px;
  top: 9px;
}
.dont-miss-item-img {
	position: relative;
}
.dont-miss-item.col-xs-12 {
	padding: 0px;
}
.dont-miss-list .dont-miss-item  {
	width: 309px;
	margin: 0;
}
.dont-miss-list .dont-miss-item ,
.dont-miss-list .dont-miss-item:nth-of-type(3n),
.dont-miss-list .dont-miss-item:nth-of-type(3n+1),
.dont-miss-list .dont-miss-item:nth-of-type(3n+2) {
	margin: 10px 0;
}
.dont-miss-list .visible-xs .dont-miss-item:last-child {
    margin-bottom: 30px;
}
@media ( min-width: 768px ) {
	.project_dont_miss {
		width: auto;
		margin: 0 auto;
	}
	.dont-miss-list .dont-miss-item {
		width: 238px;
	}
	.dont-miss-list .dont-miss-item:nth-of-type(3n) {
 		margin: 0 0 0 5px;
	}
	.dont-miss-list .dont-miss-item:nth-of-type(3n+1) {
		margin: 0 5px 0 0;
	}
	.dont-miss-list .dont-miss-item:nth-of-type(3n+2) {
		margin: 0 5px;
	}
}
@media ( min-width: 992px ) {
	.dont-miss-list .dont-miss-item {
		width: 309px;
	}
	.dont-miss-list .dont-miss-item:nth-of-type(3n) {
		margin: 0 0 0 7px;
	}
	.dont-miss-list .dont-miss-item:nth-of-type(3n+1) {
		margin: 0 7px 0 0;
	}
	.dont-miss-list .dont-miss-item:nth-of-type(3n+2) {
		margin: 0 7px;
	}
}