$orange = #FFD800
$purple = #614496

.b-gifs
  margin-top 30px
#gifs-slider
  position relative
  width 100%
  margin-bottom 30px

  .carousel-indicators
    top initial
    right initial
    left 50%
    text-align center
    width initial
    border initial
    margin-left 0
    li.active
      background-color $purple
  .item
    width 100%
  .item-image
    width 100%
    overflow hidden
    max-height 350px
    img
      width 100%
      vertical-align tops

  .carousel-control
    width 58px
    height 58px
    top 50%
    @media screen and (max-width 750px)
      &.right
        background-position -566px 0
      &.left
        background-position -169px 0
  .carousel-indicators
    bottom 20px
    transform translateX(-50%)
    @media screen and (max-width 750px)
      li
        background-color #fff
        border none
        outline none
        &.active
          background-color $purple


.b-gifs-tags
  margin-bottom 30px
  font-size 13px
.bct-all
  margin-right 30px
  display inline-block
  a
    text-transform uppercase
    color #fff
    text-decoration underline
    display block
    height 27px
    line-height 27px
    font-family 'ctc_splash_roundedbold', sans-serif
.bct-list
  display inline-block
  vertical-align top
  margin-bottom 0
  li
    span
      display block
      padding-right 27px
      padding-left 13px
      background-color $orange
      text-transform uppercase
      border-radius 15px
      height 27px
      line-height 28px
      text-decoration none
      color #1781ba
      position relative
      font-family "ctc_splash_roundedbold", sans-serif
      i
        position absolute
        cursor pointer
        display block
        right 0
        top 0
        height 27px
        width 27px
        background url(img/btn_close_tag.png) no-repeat center
        z-index 20

.b-gifs-filter
  margin-bottom 30px
  font-family 'ctc_splash_roundedbold', Sans-Serif
  &.show-all
    .bcf-list
      display block
    .gifs-filter-genre
      color $orange
      &:after
        border-top none
        border-bottom 6px solid $orange

.bcf-header
  background: none
  margin-bottom 25px
  box-shadow none
  height auto
  z-index 0
.gifs-filter-all
  display inline-block
  margin-right 25px
  a
    display block
    text-transform uppercase
    border-radius 15px
    height 27px
    line-height 27px
    text-decoration none
    color #fff
    font-family 'ctc_splash_roundedbold', Sans-Serif
    &.active
      background-color $orange
      padding 0 13px
      color #1781ba
      &:hover
      &:visited
        color #1781ba
    &:hover
      color $orange
    &:visited
      color #fff


.gifs-filter-genre
  display inline-block
  height 27px
  line-height 27px
  color #fff
  padding-right 20px
  position relative
  text-transform uppercase
  cursor pointer
  font-family 'ctc_splash_roundedbold', Sans-Serif
  &:after
    content ''
    position absolute
    right 0
    top 10px
    border-top 6px solid #fff
    border-left 6px solid transparent
    border-right 6px solid transparent
  &.active
    color $orange

.bcf-list
  display none
  margin 0
  li
    margin-bottom 23px
    text-transform uppercase
    display inline-block
    margin-right 20px
    a
      color #fff
      text-decoration underline
      font-size 13px
      font-family 'ctc_splash_roundedbold', Sans-Serif
      &:hover
        color $orange
      &.active
        color $orange

.b-gifs-list
  position relative
  width 100%
  font-size 0
  &-wrap
    position relative

.bcl-item
  display inline-block
  vertical-align top
  width 50%
  margin-bottom 30px
  padding-right 5px
  &:nth-child(even)
    padding-right 0
    padding-left 5px
  @media screen and (max-width 750px)
    width 100%
    padding 0 10px!important
.bcl-item-image
  width 100%
  overflow hidden
  margin-bottom 20px
  img
    width 100%


#ctclove_preloader.loading
  z-index 10
  &:before
    content ''
    position absolute
    height 360px
    width 100%
    top -360px
    left 0
    background rgba(#000, .2)
    z-index 100
    @media screen and (min-width 767px)
      height 500px
    top -500px
    @media screen and (min-width 970px)
      height 587px
    top -587px
