/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/*------------------------------------*\
    #BOX
\*------------------------------------*/
/**
 * The box object simply boxes off content.
 */
/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.box {
  display: block;
  /* [1] */
  padding: 15px; }
  .box > :last-child {
    margin-bottom: 0; }

/**
 * Flush (i.e. no padding) box.
 */
.box--flush {
  padding: 0; }

/**
 * Tiny box.
 */
.box--tiny {
  padding: 4px; }

/**
 * Small box.
 */
.box--small {
  padding: 8px; }

/**
 * Large box.
 */
.box--large {
  padding: 30px; }
  @media screen and (max-width: 767px) {
    .box--large {
      padding: 10px; } }

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  display: block; }

.media__img {
  float: left;
  margin-right: 15px; }
  .media__img > img {
    display: block; }

.media__body {
  overflow: hidden;
  display: block; }
  .media__body,
  .media__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*\
    #FLAG
\*------------------------------------*/
/**
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image. csswizardry.com/2013/05/the-flag-object
 */
/**
 * 1. Allows us to control vertical alignments
 * 2. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */
.flag {
  display: table;
  /* [1] */
  width: 100%;
  /* [2] */ }

/**
 * Items within a flag object. There should only ever be one of each.
 *
 * 1. Default to aligning content to their middles.
 */
.flag__img,
.flag__body {
  display: table-cell;
  vertical-align: middle;
  /* [1] */ }

/**
 * Flag images have a space between them and the body of the object.
 */
.flag__img {
  padding-right: 15px; }
  .flag__img > img {
    display: block;
    max-width: none; }

/**
 * The container for the main content of the flag object.
 *
 * 1. Forces the `.flag__body` to take up all remaining space.
 */
.flag__body {
  width: 100%;
  /* [1] */ }
  .flag__body,
  .flag__body > :last-child {
    margin-bottom: 0; }

/**
 * Flush flag objects have no space between the image- and text-content.
 */
.flag--flush > .flag__img {
  padding-right: 0;
  padding-left: 0; }

/*------------------------------------*\
    #BLOCK
\*------------------------------------*/
/**
 * The block object simply stacks an image on top of some text-like content.
 */
/**
 * Stacked image-with-text object. A simple abstraction to cover a very commonly
 * occurring design pattern.
 */
.block {
  display: block; }

/**
 * 1. Eliminate whitespace around images.
 */
.block__img {
  vertical-align: middle;
  /* [1] */
  margin-bottom: 15px;
  /**
   * No space between the image and the text content.
   */
  /**
   * Small space between the image and the text content.
   */ }
  .block--flush > .block__img {
    margin-bottom: 0; }
  .block--small > .block__img {
    margin-bottom: 8px; }

/**
 * Text-content.
 */
.block__body {
  display: block; }

/**
 * Center-aligned blocks.
 */
.block--center {
  text-align: center; }

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after,
.box:after,
.media:after {
  content: "";
  display: table;
  clear: both; }

/*------------------------------------*\
    #WIDTHS-RESPONSIVE
\*------------------------------------*/
/**
 * Responsive width classes based on your responsive settings.
 */
@media screen and (max-width: 767px) {
  .u-1\/1-xs {
    width: 100% !important; }

  .u-1\/2-xs {
    width: 50% !important; }

  .u-1\/3-xs {
    width: 33.33333% !important; }

  .u-2\/3-xs {
    width: 66.66667% !important; }

  .u-1\/4-xs {
    width: 25% !important; }

  .u-2\/4-xs {
    width: 50% !important; }

  .u-3\/4-xs {
    width: 75% !important; }

  .u-1\/5-xs {
    width: 20% !important; }

  .u-2\/5-xs {
    width: 40% !important; }

  .u-3\/5-xs {
    width: 60% !important; }

  .u-4\/5-xs {
    width: 80% !important; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .u-1\/1-sm {
    width: 100% !important; }

  .u-1\/2-sm {
    width: 50% !important; }

  .u-1\/3-sm {
    width: 33.33333% !important; }

  .u-2\/3-sm {
    width: 66.66667% !important; }

  .u-1\/4-sm {
    width: 25% !important; }

  .u-2\/4-sm {
    width: 50% !important; }

  .u-3\/4-sm {
    width: 75% !important; }

  .u-1\/5-sm {
    width: 20% !important; }

  .u-2\/5-sm {
    width: 40% !important; }

  .u-3\/5-sm {
    width: 60% !important; }

  .u-4\/5-sm {
    width: 80% !important; } }
@media screen and (min-width: 992px) {
  .u-1\/1-md {
    width: 100% !important; }

  .u-1\/2-md {
    width: 50% !important; }

  .u-1\/3-md {
    width: 33.33333% !important; }

  .u-2\/3-md {
    width: 66.66667% !important; }

  .u-1\/4-md {
    width: 25% !important; }

  .u-2\/4-md {
    width: 50% !important; }

  .u-3\/4-md {
    width: 75% !important; }

  .u-1\/5-md {
    width: 20% !important; }

  .u-2\/5-md {
    width: 40% !important; }

  .u-3\/5-md {
    width: 60% !important; }

  .u-4\/5-md {
    width: 80% !important; } }
/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
 * Margin helper classes.
 *
 * Add margins.
 */
.u-m {
  margin: 15px !important; }

.u-mt {
  margin-top: 15px !important; }

.u-mr {
  margin-right: 15px !important; }

.u-mb {
  margin-bottom: 15px !important; }

.u-ml {
  margin-left: 15px !important; }

.u-mh {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.u-mv {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

/**
 * Add tiny margins.
 */
.u-m-- {
  margin: 4px !important; }

.u-mt-- {
  margin-top: 4px !important; }

.u-mr-- {
  margin-right: 4px !important; }

.u-mb-- {
  margin-bottom: 4px !important; }

.u-ml-- {
  margin-left: 4px !important; }

.u-mh-- {
  margin-right: 4px !important;
  margin-left: 4px !important; }

.u-mv-- {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

/**
 * Add small margins.
 */
.u-m- {
  margin: 8px !important; }

.u-mt- {
  margin-top: 8px !important; }

.u-mr- {
  margin-right: 8px !important; }

.u-mb- {
  margin-bottom: 8px !important; }

.u-ml- {
  margin-left: 8px !important; }

.u-mh- {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.u-mv- {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

/**
 * Add large margins.
 */
.u-m\+ {
  margin: 30px !important; }

.u-mt\+ {
  margin-top: 30px !important; }

.u-mr\+ {
  margin-right: 30px !important; }

.u-mb\+ {
  margin-bottom: 30px !important; }

.u-ml\+ {
  margin-left: 30px !important; }

.u-mh\+ {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.u-mv\+ {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.ctclove-btn {
  font-family: 'ctc_splash_roundedbold', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  margin: 0 auto;
  text-decoration: none; }
  .ctclove-btn:focus, .ctclove-btn:visited, .ctclove-btn:active, .ctclove-btn:hover {
    outline: none;
    text-decoration: none !important; }

.ctclove-btn--regular {
  font-size: 13px;
  line-height: 25px;
  padding: 0px 15px;
  border-radius: 12.5px;
  height: 24px; }

.ctclove-btn--blue {
  color: #ffffff;
  background-color: #0b8ad4; }
  .ctclove-btn--blue:focus, .ctclove-btn--blue:visited, .ctclove-btn--blue:active, .ctclove-btn--blue:hover {
    color: #ffffff;
    background-color: #0b8ad4; }

.ctclove-btn--violet {
  color: #ffffff;
  background-color: #664a9b; }
  .ctclove-btn--violet:focus, .ctclove-btn--violet:visited, .ctclove-btn--violet:active, .ctclove-btn--violet:hover {
    color: #ffffff;
    background-color: #664a9b; }

.ctclove-btn--yellow-blue {
  color: #0b8ad4;
  background-color: #ffc80c; }
  .ctclove-btn--yellow-blue:focus, .ctclove-btn--yellow-blue:visited, .ctclove-btn--yellow-blue:active, .ctclove-btn--yellow-blue:hover {
    color: #0b8ad4;
    background-color: #ffc80c; }

.ctclove-btn--yellow-violet {
  color: #664a9b;
  background-color: #ffc80c; }
  .ctclove-btn--yellow-violet:focus, .ctclove-btn--yellow-violet:visited, .ctclove-btn--yellow-violet:active, .ctclove-btn--yellow-violet:hover {
    color: #664a9b;
    background-color: #ffc80c; }

.ctclove-radio-btn, a.ctclove-radio-btn {
  font-family: 'ctc_splash_roundedbold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  outline: none;
  margin: 0 auto;
  font-size: 13px;
  line-height: 25px;
  padding: 0px 15px;
  height: 24px; }
  .ctclove-radio-btn:focus, .ctclove-radio-btn:visited, .ctclove-radio-btn:active, .ctclove-radio-btn:hover, a.ctclove-radio-btn:focus, a.ctclove-radio-btn:visited, a.ctclove-radio-btn:active, a.ctclove-radio-btn:hover {
    outline: none;
    text-decoration: none !important; }

.ctclove-radio-btn--active, a.ctclove-radio-btn--active:visited, a.ctclove-radio-btn--active:hover, a.ctclove-radio-btn--active:focus {
  border-radius: 12.5px;
  background-color: #ffc80c;
  color: #0b8ad4; }

.container.content {
  padding: 0 0 0 2px !important; }
  @media screen and (max-width: 767px) {
    .container.content {
      padding: 0 !important; } }

/*  MASONRY SETTINGS */
.gutter-sizer {
  width: 9px; }
  @media screen and (min-width: 992px) {
    .gutter-sizer {
      width: 14px; } }

.grid-item {
  width: 309px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .grid-item {
      width: 240px; } }
  @media screen and (max-width: 767px) {
    .grid-item {
      margin: 0 auto; } }

/* RIGHT COLUMN */
.rcolumn {
  float: right;
  width: 309px; }
  .rcolumn .banner240 {
    background: url("/bitrix/templates/main/images/banner_background.jpg") no-repeat left top/cover transparent;
    padding: 35px;
    margin-bottom: 14px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .rcolumn {
      width: 240px; }
      .rcolumn .banner240 {
        background: none;
        padding: 0; } }
  @media screen and (max-width: 767px) {
    .rcolumn {
      display: none; } }

/* WIDGETS */
@media screen and (max-width: 767px) {
  .widgets-list {
    margin: 0 auto; } }

.widget {
  margin-bottom: 15px; }
  .widget__data {
    line-height: 1em;
    padding: 15px;
    word-wrap: break-word; }
  .widget__type {
    font-family: "ctc_splash_rounded", sans-serif;
    font-size: 19px;
    text-transform: capitalize; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .widget__type {
        font-size: 14px; } }
  .widget__date {
    font-family: "ctc_splash_rounded", sans-serif;
    font-size: 15px;
    float: right;
    padding-right: 60px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .widget__date {
        font-size: 13px; } }
  .widget__name {
    font-family: "ctc_splash_roundedbold", sans-serif;
    font-size: 28px;
    line-height: 1em;
    padding: 15px 0; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .widget__name {
        font-size: 28px; } }
  .widget__image {
    position: relative; }

.widget--blue {
  background-color: #0b8ad4; }

.widget--violet {
  background-color: #664a9b; }

.widget--yellow {
  background-color: #ffa61a; }
  .widget--yellow .widget__date {
    color: #664a9b; }
  .widget--yellow .widget__name > a:hover {
    color: #664a9b; }

/* LIST WRAPPER */
.entertainment-type-list {
  margin: 0 0 15px; }

/* ICONS */
.entertainment-icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  bottom: -25px;
  right: 15px;
  background-image: url("/bitrix/templates/main/images/icons_entetainment.png");
  background-repeat: no-repeat; }

.entertainment-icon--casting {
  background-position: 0 -247px; }

.entertainment-icon--quiz {
  background-position: 0 -61px; }

.entertainment-icon--vote {
  background-position: 0 -125px; }

.entertainment-icon--test {
  background-position: 0 -186px; }

/*# sourceMappingURL=style.css.map */
