.person-wrap {
	/*padding: 0 7px;*/
	margin-bottom: 45px;
}
.person-top {
	margin-bottom: 30px;
}
@media screen and (min-width: 750px) {
	.person-top{
		position: relative;
	}
}
.person-all{
	text-transform: uppercase;
	text-decoration: underline;
	display: block;
	margin: 15px 0;
	width: 100%;
	text-align: right;
	color: #ffc80c!important;
}
@media screen and (min-width: 750px) {
	.person-all{
		position: absolute;
		margin: 0;
		right: -249px;
		top: -46px;
	}
}
@media screen and (min-width: 970px) {
	.person-all{
		position: absolute;
/*		right: 0;*/
		right: -320px;
		top: -54px;
		font-size: 18px;
	}
}

@media screen and (min-width: 750px) {
	.person-top {
		margin-bottom: 24px;
	}
}
@media screen and (min-width: 970px) {
	.person-top {
		margin-bottom: 24px;
		width: 100%;
	}
}
.person-photo {
	width: 100%;
	/*border: 3px solid #fff;*/
	overflow: hidden;
	margin-bottom: 30px;
}
.person-photo img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
@media screen and (min-width: 750px) {
	.person-photo {
		height: auto;
		margin-bottom: 25px;
	}
}
@media screen and (min-width: 970px) {
	.person-photo {
		width: 100%;
	}
}
.person-name {
	padding: 0 14px;
	margin-bottom: 20px;
}
.person-name h3 {
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
}
@media screen and (min-width: 750px) {
	.person-name {
		padding: 0;
		margin-bottom: 17px;
	}
	.person-name h3 {
		font-size: 36px;
	}
}
.person-preview {
	padding: 0 14px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	text-align: left;
}
@media screen and (min-width: 750px) {
	.person-preview {
		font-size: 18px;
		padding: 0;
	}
}
.person-info {
	padding: 0 14px;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}
.person-info p {
	margin: 0 0 24px;
}
@media screen and (min-width: 750px) {
	.person-info {
		width: 100%;
		padding: 0;
	}
	.right_column {
		margin: 0 auto !important;
	}
}
.person-info-role {
	text-align: left;
}
.person-info-role a {
	text-decoration: underline;
	color: #ffc80c;
}
