.look-more-item-list .project_list__item {
	font-family: 'ctc_splash_rounded', sans-serif;
}
.look-more-item-list  .project_list__item .project {
	font-size: 15px;
	color: #ffc80c;
	padding-top: 5px;
}
.look-more-item-list  .project_list__item .name {
	font-size: 24px;
	line-height: 1em;
	margin-top: 5px;
}
.look-more-item-list .item {
	width: inherit;
	padding: 0 !important;
}
@media ( min-width: 768px ) {
	.look-more-item-list  .project_list__item .name {
		font-size: 20px;
	}
}
@media ( min-width: 992px ) {
	.look-more-item-list  .project_list__item .name {
		font-size: 22px;
	}
}