@import '../../../../../../templates/main/css/scss/settings.defaults';
@import '../../../../../../templates/main/css/scss/setting.responsive';

@import '../../../../../../templates/main/css/scss/tools.functions';
@import '../../../../../../templates/main/css/scss/tools.widths';
@import '../../../../../../templates/main/css/scss/tools.responsive';

 
.items {
  padding: 60px 0 30px;
  text-align: center;
  @include media-query(xs) {
    padding: 40px 0 30px;
  }

  .btn, .btn:hover, .btn:visited {
    width: 354px;
    height: 65px;
    background-color: #90a4ae;
    border-radius: 32px;
    color: #FFF;
    text-transform: uppercase;
    border-color: #90a4ae;
    margin: 0px auto;
    display: block;
    padding-top: 18px;
  }

}
.item {
  width: 242px;
  display: inline-block;
  vertical-align: top;
  //margin-right: 25px;
  margin-bottom: 30px;
  text-align: left;
  overflow: hidden;
  //margin: 0 26px;
  @include media-query(sm) {
    width: 180px;
  }
  
  
  &__image {
    position: relative;
    height: 200px;
    background-color: #bfbfbf; 
    background-size: cover;
    background-position: center;
    @include media-query(sm) {
      height: 160px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__data {
    position: relative;
    height: 90px;
    background: white;
  }

  &__name {
    color: #2a2f32;
    font-family: 'ctc_splash_rounded';
    font-size: 18px;
    /*max-height: 53px;*/
    padding: 8px 10px 5px;
    @include media-query(sm) {
      padding: 8px 5px 5px;
      font-size: 16px;
    }
  }

  &__city {
    color: #90a4ae;
    font-family: Arial;
    font-size: 15px;
    padding: 0px 10px 10px;
    line-height: 1.2em;
    @include media-query(sm) {
      padding: 0px 5px 5px;
      font-size: 14px;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &__link {
    display: block;
  }

}

.slick__items {
  width: 838px;
  margin: 0 auto;
  @include media-query(sm) {
    width: 600px;
  }
  @include media-query(xs) {
    width: 100%;
  }

  .slick-prev, .slick-next {
    width: 51px;
    height: 50px;
    background-color: #810f0e;
    border: 1px solid white;
    top: 190px;
    @include media-query(sm) {
      top: 180px;
    }
  }
  .slick-prev:before, .slick-next:before {
    position: relative;
    top: -3px;
    opacity: 1;
  }
  
  .slick-prev:before {
    content: url(images/arrow_left.png);
  }

 .slick-next:before {  
    content: url(images/arrow_right.png);
  }

  .slick-next {
    right: -70px;
  }
  
  .slick-prev {
    left: -70px;
  }

  .slick-dots {
    bottom: 12px;
  }

  .slick-dots li button:before {
    opacity: 0.2;
    color: #FFFFFF;
    font-size: 12px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #FFFFFF;
    font-size: 12px;
    opacity: 1;
  }
  &.slick-slider {
    margin-bottom: 0px;
  }

}

