.detail-pic {
	margin-bottom: 30px;
}
.active-from {
	font-family: 'ctc_splash_rounded', sans-serif;
	color: #ffd800;
	font-size: 14.98px;
}
.news__description {
	font-size: 16px;
	font-family: Tahoma, Helvetica, Arial;
}
.news__description a {
	color: #ffd800;
	text-decoration: none;
}
.news__description a:hover {
	text-decoration: underline;
}
.news__description img {
	max-width: 100%;
	height: auto;
}
h2 {
	font-family: 'ctc_splash_rounded', sans-serif;
	font-size: 24px;
	line-height: 1em;
	margin-top: 5px;
}
@media ( min-width: 768px ) {
	h2 {
		font-size: 30px;
	}
}
@media ( min-width: 992px ) {
	.left_column {
		width: 646px;
	}
}