@import '../../../../../../templates/main/css/scss/settings.defaults';
@import '../../../../../../templates/main/css/scss/setting.responsive';
@import '../../../../../../templates/main/css/scss/settings.colors'; 

@import '../../../../../../templates/main/css/scss/tools.functions';
@import '../../../../../../templates/main/css/scss/tools.widths';
@import '../../../../../../templates/main/css/scss/tools.responsive';

@import '../../../../../../templates/main/css/scss/objects.box';
@import '../../../../../../templates/main/css/scss/objects.block'; 
@import '../../../../../../templates/main/css/scss/objects.flag';

@import '../../../../../../templates/main/css/scss/trumps.clearfix';
@import '../../../../../../templates/main/css/scss/trumps.spacing'; 

$dark-yellow: rgb(255, 166, 26);
$yellow: rgb(255, 200, 12);
$blue: rgb(11, 138, 212);
$violet: rgb(93, 65, 147);

@import '../../../../../../templates/main/css/scss/objects.icons';

@import '../../../../../../templates/main/css/scss/components.like';
@import '../../../../../../templates/main/css/scss/components.buttons';

$gutter: 14px;
@include media-query(sm) {
  $gutter: 10px;
}

.media-filter {
  margin-top: 28px;
  margin-bottom: 28px;
  @include media-query(xs) {
    min-height: 50px;
  }
  
  & .bootstrap-select {
    @include media-query(sm) {
      margin-right: 2px;
      width: 184px;
    }

    @include media-query(xs) {
      width: 100%;
    }

    
    & .ata-select, & .ata-select:hover, & .ata-select:focus {
      background: none $yellow;
      color: $blue;
      font-size: 13px;
      line-height: 25px;
      outline: none !important;
      margin: 0 auto;
      z-index: 600;
      @include media-query(sm) {
        font-size: 11px;
      }
      @include media-query(xs) {
        font-size: 14px;
        line-height: 30px;
      }
    }
  
    .dropdown-menu {
      top: 50%;
      padding: 25px 0 5px;
      margin-top: 0;
      border: none;
      background: none $blue;
      @include media-query(sm) {
        font-size: 11px;
      }
      @include media-query(xs) {
        font-size: 13px;
      }
      
      & a {
        font-family: "ctc_splash_rounded", sans-serif;
        text-transform: uppercase;
        color: $yellow;
        @include media-query(sm) {
          padding: 10px 20px;
        }
        @include media-query(xs) {
          padding: 10px 20px; 
        }
      }
  
      & a:hover, & a:focus {
        background: none $yellow;
        color: $blue;
        outline: none;
      }
      
    }
    
  }

  & .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    @include media-query(sm) {
      margin-right: 2px;
      width: 184px;
    }
    @include media-query(xs) {
      width: 100%;
    }
  }
  
  & .bootstrap-select.btn-group .dropdown-menu {
    z-index: 500;
  }
  
  &__item {
    font-family: "ctc_splash_roundedbold", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 25px;
    padding: 4px 20px 0;
    display: inline-block;
    border-radius: 20px;
    top: 1px;
    position: relative;
    @include media-query(sm) {
      font-size: 11px;
    }
    
  }

    &__item--active {
      background: none $yellow;
      color: $blue;
      
    }
  a, a:active, a:focus, a:visited {
    &.media-filter__item--active {
      color: $blue;
      text-decoration: none;
    }
  }
}





//
//
// #MEDIA-LIST OBJECT
//
//

.media-list {
  height: inherit;
  position: relative;


 // width: 637px;
  @include media-query(sm) {
    width: 486px;
  }
  @include media-query(xs) {
    width: 309px;
  }
  
  
  &__item {
    width: 309px;
    @include media-query(sm) {
      width: 234px;
    }
    background-color: $dark-yellow;
    margin-bottom: $gutter;
    
    &.box {
      padding-bottom: 0;
    }
    
    & .modal-dialog {
      width: 757px;
      @include media-query(xs) {
        width: 306px;
      }
      height: auto;
      margin: 30px auto;
      line-height: 0;
      
      & .modal-content {
        border: 3px solid rgb(255, 200, 12);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 28px 28px;
        @include media-query(xs) {
          padding:0;
        }
        
        & .videoWrapper {
          @include media-query(xs) {
            width: 300px;
          }
        }
        
      }
    }
    
  }

  &__gutter {
    width: $gutter;
  }
  
  &__plashka {
    background: url('/bitrix/templates/main/images/big-badge.png') no-repeat;
    width: auto;
    background-size: cover;
    margin-left: -15px;
    padding-left: 16px;
    padding-right: 30px;
    display: inline-block;
    font-family: "ctc_splash_roundedbold", sans-serif;
    text-transform: uppercase;
    line-height: 18px;
    padding-top: 2px;
  }
  
  &__description {
    font-family: "ctc_splash_rounded", sans-serif;
    font-size: 20px;
    padding: 20px 0 10px;
    word-wrap: break-word;
    line-height: 1.1em;
  }
  
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  &__username {
    font-family: "ctc_splash_roundedbold", sans-serif;
    font-size: 16px;
    line-height: 1.1em;
  }
  
  &__text_answer {
    display: none;
    //margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    //margin-bottom: -15px !important;
    padding: 15px;
    background: rgb(11, 138, 212);
  }
  
  &__show_answer {
    margin-bottom: 15px;
  }
  
}

.wrap {
   margin-bottom: 270px;
  min-height: 720px;

  @include media-query(xs) {
    margin-bottom: 270px;
  }

  & .right_column {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 0;
    z-index: 2;
    
    &.wide {
      //margin-bottom: 80px;
    }
  }
  
  .grid {
    //position: relative;
    //margin-bottom: 300px;
  }
  
  .social-block {
    margin: 42px auto;
  }
  
}