#mainPromoCarousel {
	width: 302px;
	font-family: 'ctc_splash_rounded', sans-serif;
	margin-bottom: 12px;
	z-index: 1;
}
#mainPromoCarousel .item .image {
	position: relative;
}
#mainPromoCarousel .item .image img {
	width: 302px;
}

#mainPromoCarousel .info {
	height: 116px;
	padding-left: 13px;
	display: table;
	width: 100%;
}
#mainPromoCarousel .info .cell {
	display: table-cell;
	vertical-align: middle;
}
#mainPromoCarousel .info .cell:last-child {
	padding-right: 20px;
}
#mainPromoCarousel .info .genre {
	position: absolute;
  	top: 5px;
  	right: 5px;
  	opacity: 1.0;
  	background: none;
}
#mainPromoCarousel .min_age span.val {
	color: #eee;
}
#mainPromoCarousel .info .genre span {
	display: block;
	float: left;
}
#mainPromoCarousel .info .date {
	font-family: 'ctc_splash_roundedbold', sans-serif;
	font-size: 40px;
	position: relative;
}

#mainPromoCarousel .carousel-indicators {
	display: none;
}
#mainPromoCarousel .carousel-indicators .active {
	background-color: #664a9b;
	width: 10px;
	height: 10px;
	margin: 1px;
}
#mainPromoCarousel .carousel-indicators li {
	border: 0;
	background-color: #ffffff;
}
#mainPromoCarousel .carousel-indicators {
	position: absolute;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
	top: auto;
}
#mainPromoCarousel .carousel-control {
	width: 45px;
	height: 45px;
	opacity: 0.6;
}
#mainPromoCarousel .carousel-control:hover {
	opacity: 1.0;
}
#mainPromoCarousel .carousel-control.right {
	background-position: -64px 0 !important;
}
#mainPromoCarousel .carousel-control.right:hover {
	background-position: -437px 0 !important;
}
#mainPromoCarousel .carousel-control.left:hover {
  background-position: -132px 0 !important;
}
#mainPromoCarousel .name.long {
    font-family: 'ctc_splash_roundedbold', sans-serif;
    font-size: 2.0em; 
    width: 100%;
    line-height: 0.9em;
    padding-top: 10px;
}
@media ( min-width: 768px ) {
	#mainPromoCarousel {
		width: 495px;
		position: relative;
	}
	#mainPromoCarousel .min_age span.val {
		color: #ffffff;
	}
	#mainPromoCarousel .carousel-control {
		display: block;
		width: 71px;
		height: 71px;
		top: 40%;
	}
	#mainPromoCarousel .carousel-control.right {
	background-position: -101px 0 !important;
	}
	#mainPromoCarousel .carousel-control.right:hover {
		background-position: -310px 0 !important;
	}
	#mainPromoCarousel .carousel-control.left:hover {
	  background-position: -209px 0 !important;
	}
	.carousel-control.right {
		right: 9px;
	}
	#mainPromoCarousel .info .cell:last-child {
		padding-right: 9px;
	}
	#mainPromoCarousel .item .image img {
		height: 275px;
		width: 100%;
	}
	#mainPromoCarousel .info {
		height: 125px;		
		padding-left: 21px;
	}
	#mainPromoCarousel .info .genre {
		position: relative;
		top: auto;
		right: auto;
		opacity: 1.0;
	}
	#mainPromoCarousel .name {
		font-family: 'ctc_splash_roundedbold', sans-serif;
		font-size: 3em;
		width: 306px;
		line-height: 0.9em;
		padding-top: 10px;
	}
	#mainPromoCarousel .mbadge {
		position: absolute;
		top: 214px;
  		left: 0px;
	}
	#mainPromoCarousel .carousel-indicators {
		display: block;
		bottom: 128px;
	}
	#mainPromoCarousel i.play {
		display: block;
		background: url('/bitrix/templates/main/images/play_icons.png') no-repeat left top / cover;
		width: 47px;
		height: 48px;
		position: absolute;
		top: 248px;
		right: 21px;
	}
}
@media ( min-width: 992px ) { 
	#mainPromoCarousel {
		width: 632px; 
	}
	#mainPromoCarousel .item .image img {
		width: 100%;
		height: 355px;
	}
	#mainPromoCarousel .info {
		height: 115px;
	}
	#mainPromoCarousel .name { 
		width: 420px;
	}
	#mainPromoCarousel .name.long { 
		width: 100%;
	}
	#mainPromoCarousel .mbadge {
		top: 300px;
	}
	#mainPromoCarousel .carousel-control {
		display: none;
	}
	.carousel-control.right {
		right: 15px;
	}
	#mainPromoCarousel .carousel-indicators {
		bottom: 110px;
	}
	#mainPromoCarousel i.play {
		top: 328px;
		right: 36px;
	}
}