.project_video__header h2 {
	margin-top: -10px;
	margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
	.about-channel-title{
		line-height: 40px;
	}
}

@media screen and (min-width: 970px) {
	.about-channel-title{
		line-height: 50px;
	}
}
