.b-cinema {
  margin-top: 30px;
}
#cinema-slider {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
#cinema-slider .carousel-indicators {
  top: initial;
  right: initial;
  left: 50%;
  text-align: center;
  width: initial;
  border: initial;
  margin-left: 0;
}
#cinema-slider .item {
  width: 100%;
}
#cinema-slider .item-image {
  width: 100%;
  overflow: hidden;
  max-height: 350px;
}
#cinema-slider .item-image img {
  width: 100%;
  vertical-align: tops;
}
#cinema-slider .item-info {
  padding: 25px 20px;
  background-color: #614496;
  position: relative;
}
@media screen and (max-width: 750px) {
  #cinema-slider .item-info {
    padding: 15px 10px;
  }
}
#cinema-slider .item-info .item-info-btn {
  position: absolute;
  right: 20px;
  height: 48px;
  width: 47px;
  top: -24px;
  background-position: 0 0;
  background: url("/bitrix/templates/main/images/play_icons.png?2") no-repeat;
  background-size: cover;
}
#cinema-slider .item-info .item-info-title {
  font-size: 28px;
  color: #ffd800;
  margin-bottom: 14px;
  margin-top: 8px;
  line-height: 27px;
  font-family: 'ctc_splash_roundedbold', Sans-Serif;
}
@media screen and (max-width: 750px) {
  #cinema-slider .item-info .item-info-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
#cinema-slider .item-info .item-info-desc {
  color: #fff;
  font-size: 15px;
  font-family: 'ctc_splash_rounded', Sans-Serif;
}
#cinema-slider .item-info .item-info-desc span {
  position: relative;
  padding-right: 30px;
}
@media screen and (max-width: 750px) {
  #cinema-slider .item-info .item-info-desc {
    font-size: 12px;
  }
}
#cinema-slider .carousel-control {
  width: 58px;
  height: 58px;
  top: 50%;
  margin-top: -75px;
}
@media screen and (max-width: 750px) {
  #cinema-slider .carousel-control.right {
    background-position: -566px 0;
  }
  #cinema-slider .carousel-control.left {
    background-position: -169px 0;
  }
}
#cinema-slider .carousel-indicators {
  bottom: 120px;
}
@media screen and (max-width: 750px) {
  #cinema-slider .carousel-indicators {
    bottom: 90px;
  }
}
#cinema-slider .carousel-indicators li {
  background-color: #fff;
  border: none;
  outline: none;
}
#cinema-slider .carousel-indicators li.active {
  background-color: #614496;
}
.b-cinema-tags {
  margin-bottom: 30px;
  font-size: 13px;
}
.bct-all {
  margin-right: 30px;
  display: inline-block;
}
.bct-all a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  display: block;
  height: 27px;
  line-height: 27px;
  font-family: 'ctc_splash_roundedbold', sans-serif;
}
.bct-list {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.bct-list li a {
  display: block;
  padding-right: 27px;
  padding-left: 13px;
  background-color: #ffd800;
  text-transform: uppercase;
  border-radius: 15px;
  height: 27px;
  line-height: 28px;
  text-decoration: none;
  color: #1781ba;
  position: relative;
  font-family: "ctc_splash_roundedbold", sans-serif;
}
.bct-list li a i {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  height: 27px;
  width: 27px;
  background: url("img/btn_close_tag.png") no-repeat center;
}
.b-cinema-filter {
  margin-bottom: 30px;
  font-family: 'ctc_splash_roundedbold', Sans-Serif;
}
.b-cinema-filter.show-all .bcf-list {
  display: block;
}
.b-cinema-filter.show-all .cinema-filter-genre {
  color: #ffd800;
}
.b-cinema-filter.show-all .cinema-filter-genre:after {
  border-top: none;
  border-bottom: 6px solid #ffd800;
}
.bcf-header {
  background: none;
  margin-bottom: 25px;
  box-shadow: none;
  height: auto;
}
.cinema-filter-all {
  display: inline-block;
  margin-right: 25px;
}
.cinema-filter-all a {
  display: block;
  padding: 0 13px;
  background-color: #ffd800;
  text-transform: uppercase;
  border-radius: 15px;
  height: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #1781ba;
  font-family: 'ctc_splash_roundedbold', Sans-Serif;
}
.cinema-filter-genre {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  color: #fff;
  padding-right: 20px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'ctc_splash_roundedbold', Sans-Serif;
}
.cinema-filter-genre:after {
  content: '';
  position: absolute;
  right: 0;
  top: 10px;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.bcf-list {
  display: none;
  margin: 0;
}
.bcf-list li {
  margin-bottom: 23px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}
.bcf-list li a {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
  font-family: 'ctc_splash_roundedbold', Sans-Serif;
}
.bcf-list li a:hover {
  color: #ffd800;
}
.b-cinema-list {
  position: relative;
  width: 100%;
  font-size: 0;
}
.bcl-item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-bottom: 30px;
  padding-right: 5px;
}
.bcl-item:nth-child(even) {
  padding-right: 0;
  padding-left: 5px;
}
@media screen and (max-width: 750px) {
  .bcl-item {
    width: 100%;
    padding: 0 10px !important;
  }
}
.bcl-item-image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.bcl-item-image img {
  width: 100%;
}
.bcl-item-info {
  width: 100%;
  text-align: left;
  color: #fff;
  font-family: 'ctc_splash_roundedbold', Sans-Serif;
}
.bcl-item-title {
  line-height: 1;
  font-size: 24px;
  margin-bottom: 3px;
}
.bcl-item-desc {
  font-family: 'ctc_splash_rounded', Sans-Serif;
  font-size: 13px;
}
.bcl-item-desc span {
  position: absolute;
  padding-right: 30px;
}
.age-category {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 3px;
  background: rgba(255,255,255,0.2);
  font-size: 9.52px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-style: normal;
  display: block;
}
