@import '../../../../../../templates/main/css/scss/settings.defaults';
@import '../../../../../../templates/main/css/scss/setting.responsive';

@import '../../../../../../templates/main/css/scss/tools.widths';
@import '../../../../../../templates/main/css/scss/tools.responsive';
@import '../../../../../../templates/main/css/scss/tools.functions';
@import '../../../../../../templates/main/css/scss/tools.mixins';

@import '../../../../../../templates/main/css/scss/objects.box';
@import '../../../../../../templates/main/css/scss/objects.media';
@import '../../../../../../templates/main/css/scss/objects.flag';
@import '../../../../../../templates/main/css/scss/objects.block';

@import '../../../../../../templates/main/css/scss/trumps.clearfix';
@import '../../../../../../templates/main/css/scss/trumps.width-responsive';
@import '../../../../../../templates/main/css/scss/trumps.spacing';

$violet: rgb(93, 65, 147);
$gutter: 14px;
@include media-query(sm) {
  $gutter: 10px;
}
$user_height: 40px;





/*
 *  Rewrite media object rules
 *  rewrite 15px margin from top
 */
.media {
  margin-top: 0;
}






.media-list {
  height: inherit;
  position: relative;
  z-index: 1;
   
  &__item {
    width: 309px;
    @include media-query(sm) {
      width: 234px;
    }
    
    background-color: $violet;
    margin-bottom: $gutter;
    word-wrap: break-word;
    box-shadow: 0px 6px 16px -2px rgb(4, 54, 88);
  }

  &__gutter {
    width: $gutter;
  }
  
  &__image {
    width: 100%;
    height: auto;
  }

  &__user_image {
    width: $user_height;
    height: $user_height;
    @include rounded( halve($user_height) );
  }

  &__user_name {
    height: $user_height;
    font-family: 'ctc_splash_rounded', arial;
    font-size: 18px;
    line-height: 1.1;
  }
  
  &__btn {
    width: 100%;
  }
}




.item {
  &__main {
    background: url('/bitrix/templates/main/images/banner_background.jpg') no-repeat left top / cover rgba(0, 0, 0, 0);
  }
}





.wrap {
  margin-bottom: 270px;
  min-height: 720px;
  
  @include media-query(xs) {
    margin-bottom: 570px;
  }
  
  & .right_column {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 0;
    z-index: 2;
  }
}